body{
    display: block;
    justify-content: center;
}
#container{
    width: 800px;
    justify-self: center;
    margin-top: 200px;
}
#top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px;
    height: 220px;
    border-radius: 15px;
    grid-column-start: 1;
    grid-row-start: 1;
    translate: -20% 60%;
}
#bottom{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr .5fr 2fr;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: lightgrey;
    z-index: 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px;
    height: 220px;
    border-radius: 15px;
    grid-column: 2/6;
    grid-row: 2/6;
}
input{
    width: 150px;
    height: 20px;
    margin: 40px 0px 0px 10px;
}
label{
    margin: 10px 0px 0px 10px;
}
#numlbl{
    grid-row-start: 2;
    grid-column: 1;
}
#hldlbl{
    grid-row: 3;
    grid-column: 1;
}
#total{
    grid-column-start: 1;
}
#number{
    grid-row: 2;
    grid-column: 1;
}
#holder{
    grid-row-start: 3;
    grid-column: 1;
}
#expiration{
    grid-row-start: 3;
    grid-column-start: 2;
}
#month{
    grid-row-start: 3;
    grid-column-start: 2;
    width: 50px;
}
#year{
    grid-row-start: 3;
    grid-column-start: 2;
    width: 50px;
    margin-left: 70px;
}
p{
    margin: 30px 0px 0px 20px
}
#pic{
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 0 100px;
    font-size: 2em;
}
#cvlbl{
    grid-column: 2;
    grid-row: 3;
    margin-top: 50px;
}
#xxx{
    grid-column: 2;
    grid-row: 3;
    margin-top: 80px;
    margin-right: 20px;
}
#bar{
    height: 40px;
    background: black;
    margin-top: 20px;
    grid-column: 1/3;
}
button{
    height: 30px;
    width: 80px;
    border-radius: 12px;
    border: black solid 1.5px;
    margin-top: 20px;
    translate: 400%;
    cursor: pointer;
}
