header{
    color: white;
    text-align: center;
}
footer{
    text-align: center;
}
main{
    background-color: lightgray;
    display: block;
    padding: 15px;
    text-align: center;
}
img{
    border: 3px solid white;
    width: 250px;
    height: 250px;
}
body{
    background-color: #407ED5;
}
h2{
    color: black;
}
nav a{
    text-decoration: none;
    display: none;
    color: white;
    padding: 20px;
}
nav{
    display: inline;
}
img:hover, button:hover{
    cursor: pointer;
}
button{
    background: transparent;
    border: none;
    color: white;
}
#content{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
dialog img {
    width: 50%;
    margin: 20vh auto;
    height: 60%
}
dialog {
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,.75);
    z-index: 2;
    top: -30px;
}
.close-viewer {
    display: block;
    position: absolute;
    top: 10vh;
    right: 300px;
    padding: 3px 6px;
    font-size: 1.5em;
}
.full{
    width: 100%;
    display: block;  
}
.hidden{
    display: none;
}
@media screen and (min-width: 700px) {
    #content{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px){
    nav a{
        display: inline;
    }
    button{
        display: none;
    }
    #content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}