body{
    font-size: 15px;
    background-color: white;
    color: black;
}
#content{
    max-width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}
#subtitle{
    color: #035f9c;
}
#topics{
    width: 55%;
    margin: 0 auto;
}
h1, #subtitle{
    text-align: center;
}
li{
    margin-bottom: 10px;
}
img{
    display: block;
    width: 20%;
    margin: 0 auto;
}
body.darkmode{
    background-color: #333;
    color: white;
}